.modal .modal-header {
    text-align: center;
    border-bottom: 0;
    padding: 25px 25px 0;
    display: block;
}

.modal .modal-footer {
    border-top: 0;
    box-shadow: none;
    margin-top: 0;
    padding: 25px;
    display: block;
    padding-top: 0;
}

.btn-success, .btn-success:focus {
    color: #fff;
    background-color: #24334A;
    border-color: #24334A;
    height: 40px;
    line-height: 2;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 2.428571;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.btn-danger, .btn-danger:focus {
    color: #fff;
    background-color: #f55753;
    border-color: #f55753;
}