// .example-header-image {
//     background-image: url('../../../../assets/images/img.jpg');
//     background-size: cover;
//     border:1px solid;
    
//   }
//   .example-card {
//     max-width: 400px;
//     border: 1px solid;  
//     border-radius: 13px;
//   }
//   .mat-card-avatar {
//     height: 80px;
//     width: 80px;
//     border-radius: 50%;
//     flex-shrink: 0;
//     object-fit: cover;
// }
// .dgg{
//     text-align: center;
//   }
//   .dsad{
//     display: flex;
//       justify-content: center;
//   }  
//   .ffgf{
//     background-color: yellowgreen;

//   }
//   .exa
//   {
//     display: flex;
//     justify-content:space-between;
//   }
//   .kkk{
//     display: flex;
//     justify-content:space-evenly;
//     align-items: center;
//   }
//   .example-header-image1 {
//     background-image: url('../../../../assets/images/makeup.jpg');
//     background-size: cover;
//     border:1px solid;
    
//   }
//   .example-header-imagee {
//     background-image: url('../../../../assets/images/img2.jpeg');
//     background-size: cover;
//     border:1px solid;
    
//   }



.example-card {
    max-width: 400px;
    border: 1px solid;
    border-radius: 13px;
  }
  .mat-card-avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .dgg{
  text-align: center;
  }
  
  .heig{
  overflow: auto;
    height: 89vh;
  }
  .dsad{
  display: flex;
    justify-content: space-between;
  }
  
  
  
  table {
  width: 100%;
  }
  
  ._2k68E6._260Y5f {
  background-color: #f7f7f8;
  height: 100vh;
  }
  
  .flecs1{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  ._1Y9UDj._1ns_c0.ng-star-inserted {
  right: 20px;
  top: 138px;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  width: 200px;
  
  }
  
  .adjs1{
  border: 1px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #7e8dde;
  }
  
  button.mat-focus-indicator.mat-mini-fab.mat-button-base.mat-accent {
  box-shadow: none;
  
  margin: 0px 10px;
  }
  
  ._2qQKxu._1iwiKG {
  text-align: center;
  }
  
  ._22iOaY:hover > ._2qQKxu  > div > .hov {
  display:block;
  }
  
  .hov{
  display:none;
  }
  .sho{
  display: none !important;
  }
  
  ._22iOaY:hover > ._2qQKxu > .asds > .asds1 >.hid{
  display: none;
  }
  
  ._22iOaY:hover > ._2qQKxu > .asds > .asds1 >.sho{
  display: block !important;
  }
  
  
  ._3vtwrU._3XtDVr {
  top: 100px;
  min-width: 550px !important;
  left: 25% !important;
  }
  
  header.PkFIdA._33T8Oc {
  min-height: 100px !important;
  }
  
  .hh1 {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .hh4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  
  .fontChnagre{
  font-family: muli, sans-serif !important;
  }
  
  
  
  table {
  width: 100%;
  }
  
  .mat-form-field {
  font-size: 14px;
  width: 100%;
  }
  
  td, th {
  color: #626262;
  font-family: Roboto, sans-serif;
  }
  
  td.mat-cell {
  
  border-bottom-width: 0px;
  color: #626262;
  font-family: Roboto, sans-serif;
  }
  
  td.mat-footer-cell {
  
  border-bottom-width: 1px;
  border-bottom-style: solid;
  }
  
  th.mat-header-cell {
  
  font-weight: 600;
  font-size: 14px;
  border-top-width: 1px;
  border-bottom-style: solid;
  color: #626262;
  font-family: Roboto, sans-serif;
  }
  
  
  
  tr.mat-row, tr.mat-footer-row {
  height: 66px;
  border: none !important;
  }
  
  .mat-elevation-z8 {
  box-shadow: none;
  }
  
  tr:hover {
  background-color: #efe7e7;
  td {
  
  span{
    display: block;
  }
  div.org{
    display: none;
  }
  
  }
  
  }
  
  tr {
  
  td {
  
  span{
    display:none ;
  }
  
  }
  
  }
  