<div class="_1KsBwR _2gmlmp">
    <div class="CGZ7ch _2gmlmp">
        <ul class="xjjMfJ _2gmlmp" data-qa="navtabs">
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8 QHlKb7" href="/analytics/dashboard"
                    data-qa="navtabs-item-dashboard">Dashboard</a></li>
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" href="/analytics/list"
                    data-qa="navtabs-item-reports">Reports</a></li>
        </ul>
    </div>
</div>
<div class="_2k68E6 _260Y5f scrollable-content" style="display: flex; flex-direction: column;">
    <div class="_297iDr _2BxTkW">
        <div class="xveDbv">
            <div class="_1V59JA">
                <div class="_1IO1sh">
                    <div class="_1XZarc" style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div class="_2IE3Ux _2lB2nR" label="Date" style="display: flex; flex-direction: row;"><button
                                class="_3YAFFf _2-75lJ _2nu1E8 _1jiWG4 _2P5TQK" data-qa="left-arrow-sign"><span
                                    class="_3Q2N2k _30vxLD _3s37z7 _3coDyr"><svg viewBox="0 0 18 18"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.316 13.762l.458-.48c.15-.168.226-.362.226-.585 0-.227-.075-.42-.226-.578L8.804 9l2.97-3.12c.15-.158.226-.35.226-.577 0-.223-.075-.417-.226-.584l-.458-.478C11.16 4.08 10.976 4 10.76 4c-.22 0-.404.08-.55.244L6.232 8.422C6.077 8.576 6 8.77 6 9c0 .227.077.422.232.584l3.978 4.178c.15.16.334.238.55.238.21 0 .397-.08.556-.238z">
                                        </path>
                                    </svg></span></button>
                            <button class="_3YAFFf _3S3jtP _15TXvK _2nu1E8 _1jiWG4 _2P5TQK"
                                data-qa="today-button">Today</button><button
                                class="_3YAFFf _9rGivM _2nu1E8 _1jiWG4 _2P5TQK" data-qa="date-button"
                                style="flex-grow: 1;">Monday 6 Apr, 2020</button>
                            <button class="_3YAFFf _33luXG _2nu1E8 _1jiWG4 _2P5TQK" data-qa="right-arrow-sign">
                                <span class="_3Q2N2k _30vxLD _3s37z7 _3coDyr">
                                    <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6.684 13.762l-.458-.48c-.15-.168-.226-.362-.226-.585 0-.227.075-.42.226-.578L9.196 9l-2.97-3.12C6.076 5.723 6 5.53 6 5.304c0-.223.075-.417.226-.584l.458-.476C6.84 4.08 7.024 4 7.24 4c.22 0 .404.08.55.244l3.978 4.178c.155.154.232.347.232.578 0 .227-.077.422-.232.584L7.79 13.762c-.15.16-.334.238-.55.238-.21 0-.397-.08-.556-.238z">
                                        </path>
                                    </svg></span></button></div>
                        <button class="_2nu1E8 _1jiWG4 _2P5TQK _1qADt0" (click)="slide()"><span
                                class="_3Q2N2k _30vxLD _2j9sAD _3s37z7 skx_qq LnBSH4" ><svg viewBox="0 0 18 16">
                                    <path d="M0 2h15" stroke-linecap="round"></path>
                                    <circle cx="4" cy="2" r="2"></circle>
                                    <path d="M0 8h15" stroke-linecap="round"></path>
                                    <circle cx="9" cy="8" r="2"></circle>
                                    <path d="M0 14h15" stroke-linecap="round"></path>
                                    <circle cx="4" cy="14" r="2"></circle>
                                </svg></span>Filters
                        </button>
                    </div>
                </div>
                <div class="_35oNf1" style="display: flex; flex-flow: row wrap;">
                    <div class="_3NVDUN _3WPXKc _3oS4Fq" dataqa="appointments-count"
                        style="display: flex; flex-direction: column;">
                        <div class="_9t1fKU _1P8_io _226u_3 _2jHJU4">Total Appointments</div>
                        <div>
                            <div class="_9t1fKU wiy4G4 _2qZbk3 _1NUyXd LCOibB" data-qa="appointments-count-value">0
                            </div>
                            <div class="_9t1fKU wiy4G4 _2gDsav"><span
                                    class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY _2ozHxk"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.36 37.99">
                                        <rect width="292.36" height="37.99" rx="15" ry="15"></rect>
                                    </svg></span>0% previous day</div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Completed</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Not Completed</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Canceled</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">No Show</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                        </div>
                    </div>
                    <div class="_3NVDUN _3WPXKc _3oS4Fq" style="display: flex; flex-direction: column;">
                        <div class="_9t1fKU _1P8_io _226u_3 _2jHJU4">Online Appointments</div>
                        <div>
                            <div class="_9t1fKU wiy4G4 _2qZbk3 _1NUyXd LCOibB" data-qa="undefined-value">0 (0%)</div>
                            <div class="_9t1fKU wiy4G4 _2gDsav"><span class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY _2ozHxk">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.36 37.99">
                                        <rect width="292.36" height="37.99" rx="15" ry="15"></rect>
                                    </svg>
                                </span>0% previous day</div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Completed</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Not Completed</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Canceled</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">No Show</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                        </div>
                    </div>
                    <div class="_3NVDUN _3WPXKc _3oS4Fq" style="display: flex; flex-direction: column;">
                        <div class="_9t1fKU _1P8_io _226u_3 _2jHJU4">Occupancy</div>
                        <div>
                            <div class="_9t1fKU wiy4G4 _2qZbk3 _1NUyXd LCOibB" data-qa="undefined-value">0%</div>
                            <div class="_9t1fKU wiy4G4 _2gDsav"><span class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY _2ozHxk">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.36 37.99">
                                        <rect width="292.36" height="37.99" rx="15" ry="15"></rect>
                                    </svg>
                                </span>0% previous day</div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Working Hours</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">16h</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Booked Hours</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0min</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Blocked Hours</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0min</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Unbooked Hours</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">16h</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(100%)</div>
                            </div>
                        </div>
                    </div>
                    <div class="_3NVDUN _3WPXKc _3oS4Fq" style="display: flex; flex-direction: column;">
                        <div class="_9t1fKU _1P8_io _226u_3 _2jHJU4">Total Sales</div>
                        <div>
                            <div class="_9t1fKU wiy4G4 _2qZbk3 _1NUyXd LCOibB" data-qa="undefined-value"><span>₹0</span>
                            </div>
                            <div class="_9t1fKU wiy4G4 _2gDsav"><span
                                    class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY _2ozHxk"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.36 37.99">
                                        <rect width="292.36" height="37.99" rx="15" ry="15"></rect>
                                    </svg></span>0% previous day</div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Services</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Products</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Late cancellation fees</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">No show fees</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                        </div>
                    </div>
                    <div class="_3NVDUN _3WPXKc _3oS4Fq" style="display: flex; flex-direction: column;">
                        <div class="_9t1fKU _1P8_io _226u_3 _2jHJU4">Average Sale</div>
                        <div>
                            <div class="_9t1fKU wiy4G4 _2qZbk3 _1NUyXd LCOibB" data-qa="undefined-value"><span>₹0</span>
                            </div>
                            <div class="_9t1fKU wiy4G4 _2gDsav"><span
                                    class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY _2ozHxk"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.36 37.99">
                                        <rect width="292.36" height="37.99" rx="15" ry="15"></rect>
                                    </svg></span>0% previous day</div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Sales Count</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">0</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Av. Service Sale</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Av. Product Sale</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="_3NVDUN _3WPXKc _3oS4Fq" style="display: flex; flex-direction: column;">
                        <div class="_9t1fKU _1P8_io _226u_3 _2jHJU4">Client Retention (Sales)</div>
                        <div>
                            <div class="_9t1fKU wiy4G4 _2qZbk3 _1NUyXd LCOibB" data-qa="undefined-value">0%</div>
                            <div class="_9t1fKU wiy4G4 _2gDsav"><span
                                    class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY _2ozHxk"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.36 37.99">
                                        <rect width="292.36" height="37.99" rx="15" ry="15"></rect>
                                    </svg></span>0% previous day</div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Returning</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">New</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                            <div>
                                <div class="_9t1fKU _2G32AU _4yvzB0 _1iv0Hl">Walk-In</div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl"><span>₹0</span></div>
                                <div class="_9t1fKU _2G32AU _3XaYbu _1NUyXd _1iv0Hl">(0%)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--sidebar modal-->
<div class="_2tihmj yrxJIO" style="width: 312px; transform: translate(0px, 0px);z-index: 9999;" *ngIf="show">
    <header class="_1Y11WQ">
        <div class="_3IBBEQ">
            <h2 class="_3Ghl43">Filters</h2>
            <div role="button" class="_2y31id _3d4M2L _2nu1E8" data-qa="action-icon">
                <div class="_10jmov">
                    <div><span class="_3Q2N2k _30vxLD _3s37z7 skx_qq XuZows" (click)="slide()"><svg viewBox="0 0 18 18"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17 1.914L16.086 1 9 8.086 1.914 1 1 1.914 8.086 9 1 16.086l.914.914L9 9.914 16.086 17l.914-.914L9.914 9z">
                                </path>
                            </svg></span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="_1KhmFy _21Ce2W">
        <form novalidate="" data-qa="form-report-filters">
            <div class="_2OMaRe">
                <div class="ejW4Iu"><label class="B4ufiE _3J2MMS _35WL2E"
                        style="display: flex; flex-direction: column-reverse; flex-basis: 100%;">
                        <div class="qyGFie"><select class="_3RKzT9 _1Antcf _2fdLc6" name="locationId">
                                <option value="empty">All locations</option>
                                <option value="354590">A</option>
                                <option value="338195">Arihant</option>
                            </select><span class="_1-9acb"><span class="_3Q2N2k _30vxLD _3v1cJZ _3dgNZY _3HugbT"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6">
                                        <path
                                            d="M5.5 4.793L10.146.146a.5.5 0 1 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5A.5.5 0 1 1 .854.146L5.5 4.793z"
                                            fill-rule="nonzero"></path>
                                    </svg></span></span></div>
                        <div style="display: flex; flex-direction: row;"><span class="_9t1fKU _14bPpn _3jwCpY"
                                data-qa="locationId-label">Location</span></div>
                    </label><label class="B4ufiE _3J2MMS _35WL2E"
                        style="display: flex; flex-direction: column-reverse; flex-basis: 100%;">
                        <div class="qyGFie"><select class="_3RKzT9 _1Antcf _2fdLc6" name="employeeId">
                                <option value="empty">All staff</option>
                                <option value="1047608">test test</option>
                                <option value="999036">Sanket Shah</option>
                                <option value="999037">Wendy Smith</option>
                            </select><span class="_1-9acb"><span class="_3Q2N2k _30vxLD _3v1cJZ _3dgNZY _3HugbT"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6">
                                        <path
                                            d="M5.5 4.793L10.146.146a.5.5 0 1 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5A.5.5 0 1 1 .854.146L5.5 4.793z"
                                            fill-rule="nonzero"></path>
                                    </svg></span></span></div>
                        <div style="display: flex; flex-direction: row;"><span class="_9t1fKU _14bPpn _3jwCpY"
                                data-qa="employeeId-label">Staff</span></div>
                    </label></div>
                <div class="_2eFciQ" style="display: flex; flex-direction: row;"><button
                        class="_3cA4eP _2nu1E8 _1jiWG4 _2P5TQK">Clear</button><button
                        class="_1OFQpG _2nu1E8 _1O2-GF _2P5TQK">Apply</button></div>
            </div>
        </form>
    </div>
</div>