.card-body{
    padding: 20px;
}

.bb1{
    font-size: 16px;
    margin-top: 30px;
    line-height: 10px;


}
.bb2{
    font-size: 40px;
    margin-top: 20px;
}
.bb3{
    //color: #a5dff8;
}
.bb4{
   // text-align: center;
    font-weight: 500;
}
.aaa{
    margin-top: 20px;
}
.gundi{
    
        color: #101928;
        box-shadow: 0 3px 5px 0 rgba(164, 173, 186, 0.25);
        background: white;
text-transform: uppercase;
border: 1px solid #eef0f2;
font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}


