<div class="_2k68E6 _260Y5f" data-qa="scrollable-content" style="display: flex; flex-direction: column;">
    <div class="_40Cdqw _2GGotC" style="display: flex; flex-direction: column; flex-shrink: 0; flex-grow: 1;">
        <div class="W-6apQ">
            <div class="t6USZF"><a class="_2qhTFB _2nu1E8 _13c7RA " [routerLink]="['/setup']"><span
                        class="_3Q2N2k _30vxLD _3s37z7 _2zhJTq _3N7UZQ"><svg viewBox="0 0 18 18"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.80367158,16.7638261 C9.06544281,17.0467987 9.06544281,17.5049548 8.80367158,17.7879275 C8.54229164,18.0704815 8.11774488,18.0709001 7.85597365,17.7879275 L0.196328421,9.51223382 C-0.0654428068,9.22926119 -0.0654428068,8.77068646 0.196328421,8.48771383 L7.85577801,0.212229473 C8.11754924,-0.0707431577 8.54170471,-0.0707431577 8.80347594,0.212229473 C9.06524716,0.495202104 9.06524716,0.953567534 8.80406287,1.23633087 L1.81841007,9.00007847 L8.80367158,16.7638261 Z">
                            </path>
                        </svg></span>Back to Setup</a></div>
            <div class="_9t1fKU dcmmPd zLWpM8">Invoice Sequencing</div>
            <div class="_9t1fKU _62dXJY">Set custom prefixes and number sequence for invoices</div>
        </div>
        <div class="_2T1m56">
            <table class="_1kvpv-">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="uIOxJQ">
                    <tr class="_21MTdv">
                        <th class="_11CReE">
                            <div style="display: flex; flex-direction: row;">
                                <div class="_1b09d9" style="flex-grow: 1;">
                                    <div class="_39KpJm">Location Name</div>
                                </div>
                            </div>
                        </th>
                        <th class="_11CReE">
                            <div style="display: flex; flex-direction: row;">
                                <div class="_1b09d9" style="flex-grow: 1;">
                                    <div class="_39KpJm">Invoice No. Prefix</div>
                                </div>
                            </div>
                        </th>
                        <th class="_11CReE">
                            <div style="display: flex; flex-direction: row;">
                                <div class="_1b09d9" style="flex-grow: 1;">
                                    <div class="_39KpJm">Next Invoice Number</div>
                                </div>
                            </div>
                        </th>
                        <th class="_11CReE">
                            <div style="display: flex; flex-direction: row;">
                                <div class="_1b09d9" style="flex-grow: 1;">
                                    <div class="_39KpJm"></div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr class="_22iOaY _2diuxm _2VOH-H Kqtapj">
                        <td class="_2qQKxu _4j7uOc">A</td>
                        <td class="_2qQKxu _4j7uOc">-</td>
                        <td class="_2qQKxu _4j7uOc">3</td>
                        <td class="_2qQKxu _4j7uOc">
                            <div class="KCcXzc" (click)="modal()"><span class="_3Q2N2k _30vxLD _1vrMTL _1oFLGn"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15">
                                        <path
                                            d="M4.75 11.748l8.985-8.984a.75.75 0 0 1 1.06 1.06L5.28 13.34a.75.75 0 0 1-1.06 0l-1.857-1.856a.75.75 0 0 1 0-1.06L11.88.908a.75.75 0 0 1 1.06 1.06l-8.987 8.985.796.795z">
                                        </path>
                                        <path
                                            d="M4.462 12.116a.75.75 0 0 1 .574 1.386l-3.17 1.316a.75.75 0 0 1-.98-.98L2.2 10.666a.75.75 0 1 1 1.386.574l-.62 1.497 1.496-.62zm8.531-10.201a.75.75 0 0 1-1.06-1.06 2.062 2.062 0 1 1 2.916 2.916.75.75 0 0 1-1.06-1.061.563.563 0 0 0-.796-.795zm-1.988.928a.75.75 0 0 1 1.06-1.06l1.856 1.856A.75.75 0 0 1 12.86 4.7l-1.855-1.856z">
                                        </path>
                                    </svg></span>Change</div>
                        </td>
                    </tr>
                    <tr class="_22iOaY _2diuxm _2VOH-H Kqtapj">
                        <td class="_2qQKxu _4j7uOc">Arihant</td>
                        <td class="_2qQKxu _4j7uOc">-</td>
                        <td class="_2qQKxu _4j7uOc">2</td>
                        <td class="_2qQKxu _4j7uOc">
                            <div class="KCcXzc" (click)="modal()"><span class="_3Q2N2k _30vxLD _1vrMTL _1oFLGn"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15">
                                        <path
                                            d="M4.75 11.748l8.985-8.984a.75.75 0 0 1 1.06 1.06L5.28 13.34a.75.75 0 0 1-1.06 0l-1.857-1.856a.75.75 0 0 1 0-1.06L11.88.908a.75.75 0 0 1 1.06 1.06l-8.987 8.985.796.795z">
                                        </path>
                                        <path
                                            d="M4.462 12.116a.75.75 0 0 1 .574 1.386l-3.17 1.316a.75.75 0 0 1-.98-.98L2.2 10.666a.75.75 0 1 1 1.386.574l-.62 1.497 1.496-.62zm8.531-10.201a.75.75 0 0 1-1.06-1.06 2.062 2.062 0 1 1 2.916 2.916.75.75 0 0 1-1.06-1.061.563.563 0 0 0-.796-.795zm-1.988.928a.75.75 0 0 1 1.06-1.06l1.856 1.856A.75.75 0 0 1 12.86 4.7l-1.855-1.856z">
                                        </path>
                                    </svg></span>Change</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--modal-->
<div class="_3vtwrU Doid-g _3XtDVr _2H1Euj" style="left:25%" *ngIf="express">
    <div class="_2vCLkQ" style="display: flex; flex-direction: column; flex-shrink: 1; flex-grow: 1;">
        <header class="PkFIdA _33T8Oc" data-qa="modal-header">
            <div class="izfMlp _1HQM0r">
                <h2 class="_9t1fKU _3XK9dh _2AVm3L _3bMN68 _1T_y7I _1j68JW">Change Sequencing</h2>
                <div role="button" class="_2y31id _2PFOGx _3pAZyb _3d4M2L _2nu1E8" data-qa="header-close-button" (click)="modal()">
                    <div class="_10jmov">
                        <div><span class="_3Q2N2k _30vxLD _3s37z7 _3gU_Sq XuZows"><svg viewBox="0 0 18 18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17 1.914L16.086 1 9 8.086 1.914 1 1 1.914 8.086 9 1 16.086l.914.914L9 9.914 16.086 17l.914-.914L9.914 9z">
                                    </path>
                                </svg></span></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="_1AL6HX dn0kkN" data-qa="modal-content" style="display: flex; flex-direction: column;">
            <div class="xPg8Rs" style="display: flex; flex-direction: column; flex-shrink: 0; flex-grow: 1;">
                <div class="_3NVDUN _2ODZzb" style="display: flex; flex-direction: column;">
                    <div class="_9t1fKU _62dXJY">You are about to introduce this change for <span
                            class="_9t1fKU _3XaYbu">A</span> </div>
                </div>
                <div class="_3NVDUN _1DPuwz _3_vT76" style="display: flex; flex-direction: column;">
                    <form novalidate="" data-qa="form-invoice-sequence-edit">
                        <div style="display: flex; flex-flow: row wrap;"><label class="B4ufiE _3J2MMS A7zEIf"
                                style="display: flex; flex-direction: column-reverse; flex-grow: 1;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="prefix" autocomplete="off" value=""></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Invoice No. Prefix</span>
                            </label><label class="B4ufiE _3J2MMS"
                                style="display: flex; flex-direction: column-reverse; flex-grow: 1;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="nextValue" autocomplete="off" value="3"></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Next Invoice Number</span>
                            </label></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="">
            <div class="_1sJ5gi _1G31AL"><button class="_2nu1E8 _1O2-GF _2P5TQK"
                    style="flex-grow: 1; align-self: stretch;">Save</button></div>
        </div>
    </div>
</div>