<section style="margin-top: 200px;">
    <div class="container" style="text-align: center;">
        <p class="m1">Step 1 of 3</p>
        <p class="m2">Add an offering to your service menu</p>
    </div>
    <div class="card">
        <div class="card-body">
        <div class="row ss5">
            <div class="col-sm-1">
                <span class="material-icons" style="font-size: 60px;">
                    supervised_user_circle
                    </span>
            </div>
            <div class="col-sm-6">
                <h2>Service</h2>
                <p>Services booked by one client in a single visit
                </p>
            </div>
            <div class="col-sm-1 offset-4">
                <i class="fa fa-angle-right" style="font-size:36px"></i>
            </div>
        </div>
    </div>
    </div>

    <div class="card">
        <div class="card-body">
        <div class="row ss5">
            <div class="col-sm-1">
                <span class="material-icons" style="font-size: 60px;">
                    supervised_user_circle
                    </span>
            </div>
            <div class="col-sm-7">
                <h2>Class</h2>
                <p>Services booked by multiple clients in scheduled sessions
                </p>
            </div>
            <div class="col-sm-2 offset-2">
                <span class="_3SwoHv tg1XF7 _2cOoP-">Coming soon</span>
            </div>
        </div>
    </div>
    </div>

    <div class="card">
        <div class="card-body">
        <div class="row ss5">
            <div class="col-sm-1">
                <span class="material-icons" style="font-size: 60px;">
                    supervised_user_circle
                    </span>
            </div>
            <div class="col-sm-7">
                <h2>Plan</h2>
                <p>Pre-paid memberships or courses used over multiple visits

                </p>
            </div>
            <div class="col-sm-2 offset-2">
                <span class="_3SwoHv tg1XF7 _2cOoP-">Coming soon</span>
            </div>
        </div>
    </div>
    </div>
</section>