<div>
    <div style="    display: flex;
align-items: flex-start;">
      <h3 mat-dialog-title>Terminal</h3>
      <button mat-stroked-button style="margin: 0px 13px;
  border-radius: 25px;" [matMenuTriggerFor]="menu1"><span class="material-icons">
              label
          </span> No Label </button>
      <mat-menu #menu1="matMenu">
          <p>Add to label</p>
          <button>
              <mat-icon>label</mat-icon>
              <span>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="New Label">
                  </mat-form-field>
              </span>
          </button>
      </mat-menu>
  </div>
</div>

<form >
    <mat-dialog-content class="mat-typography" style="border-top:1px solid lightgray;">
        <div class="container-fluid">
            <div class="col-12">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>Terminal 1</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>MAC ID</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>IP Address</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>Users</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>Search</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>Manager Access</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label>Cash Drawer</mat-label>
                              <mat-select>
                                <mat-option value="yes" (click)="open('t')">Yes</mat-option>
                                <mat-option value="no" (click)="open('f')">No</mat-option>
                              </mat-select>
                          </mat-form-field> 
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>MAC ID</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="legacy" style="display: block;">
                            <mat-label  at-label>Users</mat-label>
                              <input matInput type="" >
                            </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="tbl==true">
                    <div class="col-12">
                     
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">
                        
                        <ng-container matColumnDef="exchange">
                          <th mat-header-cell *matHeaderCellDef> For Cash Exchange </th>
                          <td mat-cell *matCellDef="let element"> {{element.exchange}} </td>
                        </ng-container>

                        <ng-container matColumnDef="critical">
                          <th mat-header-cell *matHeaderCellDef> Critical </th>
                          <td mat-cell *matCellDef="let element"> <input matInput type="" > </td>
                        </ng-container>

                        <ng-container matColumnDef="standard">
                          <th mat-header-cell *matHeaderCellDef> Standard </th>
                          <td mat-cell *matCellDef="let element"> <input matInput type="" > </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>  
                </div>


                <div class="row" style="margin-top: 20px;">
                    <div class="col-8" >
                      <mat-form-field appearance="legacy" style="width: 487px;" >
                        <mat-label>Terms And Conditions</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                      <span class="material-icons" style="color: green;">
                        add_circle_outline
                        </span>
                    </div>
                  </div>
                
                <div class="row">
                    <div class="col-3 offset-9">
                        <div style="float: right;">
                            <button mat-button mat-dialog-close color="primary">Cancel</button>
                            <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">
                                Done
                            </button>
                        </div> 
                    </div>
                  </div>
            </div>
        </div>
    </mat-dialog-content>
</form>


