<div class="_2k68E6 _260Y5f scrollable-content" style="display: flex; flex-direction: column;">
    <div></div>
    <div class="_40Cdqw _2GGotC" style="display: flex; flex-direction: row;">
        <div class="yRP4gM yRP4gM" style="display: flex; flex-flow: column nowrap; flex-basis: 50%; flex-grow: 1; justify-content: flex-start;">
            <div class="_10amRZ">
                <div class="_3NVDUN _3WPXKc kl-xVM" style="display: flex; flex-direction: column; flex-grow: 1;">
                    <div class="_9t1fKU _2G32AU _3SBYhP">Account Setup</div>
                    <a class="_17kGvl _2nu1E8" [routerLink]="['/setup/account-settings']"  >
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Account Settings</div>
                        <div class="_9t1fKU _3giDm2">Manage settings such as your business name and time zone</div>
                    </a>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/locations']" >
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Locations</div>
                        <div class="_9t1fKU _3giDm2">Manage multiple outlets for your business</div>
                    </a>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/resources']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Resources</div>
                        <div class="_9t1fKU _3giDm2">Set up bookable resources such as rooms, chairs or equipment</div>
                    </a>
                </div>
            </div>
            <div class="_10amRZ">
                <div class="_3NVDUN _3WPXKc kl-xVM" style="display: flex; flex-direction: column; flex-grow: 1;">
                    <div class="_9t1fKU _2G32AU _3SBYhP">Point of Sale</div>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/invoices']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Invoice Template</div>
                        <div class="_9t1fKU _3giDm2">Configure details displayed on invoices issued to your clients
                        </div>
                    </a>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/invoice-sequencing']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Invoice Sequencing</div>
                        <div class="_9t1fKU _3giDm2">Set custom prefixes and number sequence for invoices</div>
                    </a>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/taxes']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Taxes</div>
                        <div class="_9t1fKU _3giDm2">Manage tax rates that apply to items sold at checkout</div>
                    </a>
                    <a class="_17kGvl _2nu1E8" [routerLink]="['/setup/payment-types']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Payment Types</div>
                        <div class="_9t1fKU _3giDm2">Set up manual payment types for use during checkout</div>
                    </a>
                    <a class="_17kGvl _2nu1E8"   [routerLink]="['/setup/discount-types']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Discount Types</div>
                        <div class="_9t1fKU _3giDm2">Set up manual discount types for use during checkout</div>
                    </a>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/sales-settings']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Sales Settings</div>
                        <div class="_9t1fKU _3giDm2">Manage the default voucher expiry period and staff commissions
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="yRP4gM yRP4gM" style="display: flex; flex-flow: column nowrap; flex-basis: 50%; flex-grow: 1; justify-content: flex-start;">
            <!-- <div class="_10amRZ">
                <div class="_3NVDUN _3WPXKc kl-xVM _1JxWxB" style="display: flex; flex-direction: column; flex-grow: 1;">
                    <div class="_2BUNCN" data-qa="fresha-plus-setup" style="display: flex; flex-direction: row;">
                        <div style="display: flex; flex-direction: column; flex-basis: 65%;">
                            <div class="_9t1fKU wiy4G4 N1gDFj">Fresha Plus</div>
                            <div class="_9t1fKU wiy4G4">Attract and retain clients, boost sales, and elevate your business with a bundle of powerful tools, <a class="_2nu1E8 _13c7RA  _2wuT_9" href="/fresha/overview/overview">learn more</a>.</div>
                        </div><img src="https://cdn-partners.fresha.com/assets/fab4dec797e8faa8a8562abb8a259964.png" class="_80va5G gA_9fh">
                    </div>
                    <a class="_17kGvl _2nu1E8" href="/fresha/online-booking" data-qa="fresha-plus-setup-online-booking">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Online Booking</div>
                        <div class="_9t1fKU _3giDm2">Adjust your business info and profile images displayed online</div>
                    </a>
                    <a class="_17kGvl _2nu1E8" href="/marketing" data-qa="fresha-plus-setup-marketing">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Marketing</div>
                        <div class="_9t1fKU _3giDm2">Boost sales and fill your calendar with intelligent marketing tools
                        </div>
                    </a>
                    <a class="_17kGvl _2nu1E8" href="/notifications" data-qa="fresha-plus-setup-notifications">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Client Messages</div>
                        <div class="_9t1fKU _3giDm2">Review messages sent to clients about their appointments</div>
                    </a>
                </div>
            </div> -->
            <div class="_10amRZ">
                <div class="_3NVDUN _3WPXKc kl-xVM" style="display: flex; flex-direction: column; flex-grow: 1;">
                    <div class="_9t1fKU _2G32AU _3SBYhP">Client Settings</div>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/referral-sources']" >
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Referral Sources</div>
                        <div class="_9t1fKU _3giDm2">Set up custom sources to track how clients found your business
                        </div>
                    </a>
                    <a class="_17kGvl _2nu1E8"  [routerLink]="['/setup/client-notification']" data-qa="setup-client-notification-settings">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Client Notifications Settings</div>
                        <div class="_9t1fKU _3giDm2">Manage messages which send to clients about their appointments
                        </div>
                    </a>
                    <a class="_17kGvl _2nu1E8" [routerLink]="['/setup/cancellation-reasons']">
                        <div class="_9t1fKU _62dXJY _149_Wy _1_5LbW">Cancellation Reasons</div>
                        <div class="_9t1fKU _3giDm2">Track why clients did not arrive for their appointments</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>