

<div class="_1KsBwR _2gmlmp">
  <div class="CGZ7ch _2gmlmp">
      <ul class="xjjMfJ _2gmlmp" data-qa="navtabs">
          <li class="_3lMm2_" data-qa="navtabs-item">
              <a class="_1skZFe " [routerLink]="['Attendance']" routerLinkActive="router-link-active"  routerLinkActive="QHlKb7"
                  data-qa="navtabs-item-daily-sales">Attendance
              </a>
          </li>
          <li class="_3lMm2_" data-qa="navtabs-item">
              <a class="_1skZFe " [routerLink]="['Holiday']" routerLinkActive="router-link-active"  routerLinkActive="QHlKb7"
                  data-qa="navtabs-item-appointments">Holiday
              </a>
          </li>
          <li class="_3lMm2_" data-qa="navtabs-item">
              <a class="_1skZFe " [routerLink]="['Leave']" routerLinkActive="router-link-active"  routerLinkActive="QHlKb7"
                  data-qa="navtabs-item-invoices">Leave
              </a>
          </li>
          
      </ul>
  </div>
</div>


<!-- 

 <div _ngcontent-baa-c79="" class="_3QE344 noborder" style="display: flex; flex-direction: row; align-items: center;"
  ng-reflect-ng-class="[object Object]">
  <div _ngcontent-baa-c79="" class="_9t1fKU _3Sjcsw _1wUxdg">Team</div><a _ngcontent-baa-c79="" href="/search"
    class="_28PWNC _2nu1E8"><span _ngcontent-baa-c79="" class="_3Q2N2k _30vxLD _1d3jRi skx_qq"><svg
        _ngcontent-baa-c79="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.3 20">
        <path _ngcontent-baa-c79=""
          d="M19 18.5l-5-5.2c2.8-3.1 2.7-7.8-.3-10.8-3-3.2-8-3.3-11.2-.3C-.6 5.1-.9 10 2 13.3c2.8 3.2 7.4 3.7 10.8 1.2l5 5.2c.2.2.4.3.6.3h.2c.3-.1.6-.3.6-.6.2-.4.1-.7-.2-.9zM8 1.7c3.5 0 6.3 2.8 6.3 6.3s-2.8 6.3-6.3 6.3S1.7 11.5 1.7 8 4.5 1.7 8 1.7z">
        </path>
      </svg></span></a>
  <div _ngcontent-baa-c79="" class="_2nu1E8">
    <div _ngcontent-baa-c79="" class="_28PWNC"><span _ngcontent-baa-c79="" class="_3Q2N2k _30vxLD _1d3jRi skx_qq"><svg
          _ngcontent-baa-c79="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.4 22">
          <path _ngcontent-baa-c79=""
            d="M18.2 16.1l-2.1-4.3V7c0-3.9-3.1-7-7-7s-7 3.1-7 7v4.8L.2 16.1c-.3.5-.3 1.1 0 1.5.3.5.8.7 1.4.7h3.6c.2 2 1.9 3.6 4 3.6s3.8-1.6 4-3.6h3.7c.6 0 1.1-.3 1.4-.7.1-.4.1-1-.1-1.5zM9.1 20c-1 0-1.8-.7-2-1.6H11c-.1.9-.9 1.6-1.9 1.6zm-6.8-3.6l1.8-4v-.2V7c0-2.8 2.2-5 5-5s5 2.2 5 5v5.4l1.9 3.9H2.3z">
          </path>
        </svg></span></div>
  </div><button _ngcontent-baa-c79="" class="_3ySuQR _1TIvwq _28PWNC _3mNJWH _2nu1E8 _1jiWG4 _2P5TQK _1qADt0">
    <div _ngcontent-baa-c79="" class="_10jmov">
      <div _ngcontent-baa-c79="">
        <div _ngcontent-baa-c79="" style="display: flex; flex-direction: row;">
          <div _ngcontent-baa-c79="" data-qa="avatar-border-color" class="_37OY2T">
            <div _ngcontent-baa-c79="" color="blue" data-qa="avatar" class="_1YSdYi _2iwjnI _2tzmyr t6n_ik">
              <div _ngcontent-baa-c79="" class="_16eWMH _2iwjnI _3p9K83" style="background-color: rgb(165, 223, 248);">S
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </button>
</div>  -->



<router-outlet></router-outlet>