<div class="shedul-app">
    <section class="main-content">
        <section class="page-wrapper">
            <div class="referral-sources-list">
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6 text-right">
                        <a class="btn btn-success event-link btn-plus" data-remote="true" (click)="swap()"
                            style="color: white;"><span class="visible-xs">
                                <i class="s-icon-plus-b"></i>
                            </span>
                            <span class="hidden-xs">New Referral Source</span>
                        </a></div>
                </div>
                <div class="row m-t-20">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-ui-sortable">
                                <thead>
                                    <tr>
                                        <th style="width:70px;"></th>
                                        <th class="p-l-none">Name</th>
                                        <th>Date Added</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="referral-sources-container ui-sortable" style="">
                                    <tr class="clickable-row" data-href="/referral_sources/2121606/edit"
                                        data-id="2121606" data-remote="true" id="referral_source_2121606" style="" (click)="sw()">
                                        <td class="fa fa-bars" style="width: 70px;"></td>
                                        <td class="p-l-none" style="width: 0px;">
                                            Walk-In
                                        </td>
                                        <td style="width: 0px;">
                                            Monday, 3 Feb 2020
                                        </td>
                                        <td style="width: 0px;">
                                            <span class="label label-success" >Active</span>
                                        </td>
                                        <td style="width: 0px;">
                                            <i class="fa fa-lock" data-toggle="tooltip" title=""
                                                data-original-title="This item can not be deleted"></i>
                                        </td>
                                    </tr>
                                    <tr class="clickable-row" data-href="/referral_sources/2121605/edit"
                                        data-id="2121605" data-remote="true" id="referral_source_2121605" style="" (click)="sw()">
                                        <td class="fa fa-bars" style="width: 70px;"></td>
                                        <td class="p-l-none" style="width: 0px;">
                                            Instagram
                                        </td>
                                        <td style="width: 0px;">
                                            Monday, 3 Feb 2020
                                        </td>
                                        <td style="width: 0px;">
                                            <span class="label label-success" >Active</span>
                                        </td>
                                        <td style="width: 0px;">
                                            <i class="fa fa-lock" data-toggle="tooltip"
                                                title="This item can not be deleted"></i>
                                        </td>
                                    </tr>
                                    <tr class="clickable-row" data-href="/referral_sources/2121604/edit"
                                        data-id="2121604" data-remote="true" id="referral_source_2121604" style="" (click)="sw()">
                                        <td class="fa fa-bars" style="width: 70px;"></td>
                                        <td class="p-l-none" style="width: 0px;">
                                            Imported
                                        </td>
                                        <td style="width: 0px;">
                                            Monday, 3 Feb 2020
                                        </td>
                                        <td style="width: 0px;">
                                            <span class="label label-success" >Active</span>
                                        </td>
                                        <td style="width: 0px;">
                                            <i class="fa fa-lock" data-toggle="tooltip"
                                                title="This item can not be deleted"></i>
                                        </td>
                                    </tr>
                                    <tr class="clickable-row" data-href="/referral_sources/2121603/edit"
                                        data-id="2121603" data-remote="true" id="referral_source_2121603" style="" (click)="sw()">
                                        <td class="fa fa-bars" style="width: 70px;"></td>
                                        <td class="p-l-none" style="width: 0px;">
                                            Fresha
                                        </td>
                                        <td style="width: 0px;">
                                            Monday, 3 Feb 2020
                                        </td>
                                        <td style="width: 0px;">
                                            <span class="label label-success" >Active</span>
                                        </td>
                                        <td style="width: 0px;">
                                            <i class="fa fa-lock" data-toggle="tooltip"
                                                title="This item can not be deleted"></i>
                                        </td>
                                    </tr>
                                    <tr class="clickable-row" data-href="/referral_sources/2121602/edit"
                                        data-id="2121602" data-remote="true" id="referral_source_2121602" style="" (click)="sw()">
                                        <td class="fa fa-bars" style="width: 70px;"></td>
                                        <td class="p-l-none" style="width: 0px;">
                                            Facebook
                                        </td>
                                        <td style="width: 0px;">
                                            Monday, 3 Feb 2020
                                        </td>
                                        <td style="width: 0px;">
                                            <span class="label label-success" >Active</span>
                                        </td>
                                        <td style="width: 0px;">
                                            <i class="fa fa-lock" data-toggle="tooltip"
                                                title="This item can not be deleted"></i>
                                        </td>
                                    </tr>
                                    <tr class="clickable-row" data-href="/referral_sources/2121601/edit"
                                        data-id="2121601" data-remote="true" id="referral_source_2121601" style="" (click)="sw()">
                                        <td class="fa fa-bars" style="width: 70px;"></td>
                                        <td class="p-l-none" style="width: 0px;">
                                            Book Now Link
                                        </td>
                                        <td style="width: 0px;">
                                            Monday, 3 Feb 2020
                                        </td>
                                        <td style="width: 0px;">
                                            <span class="label label-success" >Active</span>
                                        </td>
                                        <td style="width: 0px;">
                                            <i class="fa fa-lock" data-toggle="tooltip"
                                                title="This item can not be deleted"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
</div>

<!--Modal start at button-->

<div aria-hidden="false" aria-labelledby="modalSlideUpLabel" class="modal small-modal in" id="referral-sources-modal"
    role="dialog" tabindex="-1" style="display: block;" *ngIf="pal">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-center">
                    <span style="text-align: center;font-size: large;margin:auto;">New Referral Source</span>
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button" (click)="swap()">
                        <i class="fa fa-times"></i>
                    </button>

                </div>
                <form novalidate="novalidate" class="simple_form new_referral_source" id="new_referral_source"
                    action="/referral_sources" accept-charset="UTF-8" data-remote="true" method="post"><input
                        name="utf8" type="hidden" value="✓">
                    <div class="modal-body sm-padding-10">
                        <div class="form-group">
                            <div class="form-group string required referral_source_name"><label
                                    class="control-label string required" for="referral_source_name"><abbr
                                        title="required">*</abbr> Name</label><input
                                    class="form-control string required" placeholder="e.g. Local promotion" type="text"
                                    name="referral_source[name]" id="referral_source_name"></div>
                        </div>
                        <div class="form-group">
                            <label for="referral_source_active"><input name="referral_source[active]" type="hidden"
                                    value="0"><input class="ios-switch-cb" type="checkbox" value="1" checked="checked"
                                    name="referral_source[active]" id="referral_source_active">
                                <span class="switchery m-r-10"></span>
                                <span>Active</span>
                            </label></div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                        </div>
                        <button aria-hidden="true" class="btn btn-default" data-dismiss="modal" type="button"
                            (click)="swap()">
                            Cancel
                        </button>
                        <input type="submit" name="commit" value="Save" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--second modal-->
<div aria-hidden="false" aria-labelledby="modalSlideUpLabel" class="modal small-modal in" id="referral-sources-modal"
    role="dialog" tabindex="-1" style="display: block; padding-left: 17px;" *ngIf="sur">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-center">
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button" (click)="sw()">
                        <i class="fa fa-close"></i>
                    </button>
                    <h4 style="font-size: large ;">Edit Referral Source</h4>
                </div>
                <form novalidate="novalidate" class="simple_form edit_referral_source" id="edit_referral_source_2121606"
                    action="/referral_sources/2121606" accept-charset="UTF-8" data-remote="true" method="post"><input
                        name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">
                    <div class="modal-body sm-padding-10">
                        <div class="form-group">
                            <div class="form-group string required readonly referral_source_name"><label
                                    class="control-label string required" for="referral_source_name"><abbr
                                        title="required">*</abbr> Name</label><input
                                    class="form-control string required readonly" readonly="readonly"
                                    placeholder="e.g. Local promotion" type="text" value="Walk-In"
                                    name="referral_source[name]" id="referral_source_name"></div>
                        </div>
                        <div class="form-group">
                            <label for="referral_source_active"><input name="referral_source[active]"
                                    disabled="disabled" type="hidden" value="0"><input readonly="readonly"
                                    class="ios-switch-cb" disabled="disabled" type="checkbox" value="1"
                                    checked="checked" name="referral_source[active]" id="referral_source_active">
                                <span class="switchery m-r-10"></span>
                                <span>Active</span>
                            </label></div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                        </div>
                        <button aria-hidden="true" class="btn btn-default" data-dismiss="modal" type="button" (click)="sw()">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>