@media (min-width: 768px){

    ._1KsBwR._2gmlmp {
        min-height: calc(16px + 4px + 13px);
    }
}
._1KsBwR {
    min-height: calc(16px + 16px * 2);
}
@media (min-width: 768px){

    .CGZ7ch._2gmlmp {
        height: calc(16px + 4px + 13px);
    }
}
.CGZ7ch {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border-bottom: 1px solid #dee3e7;
    background-color: white;
    overflow: hidden;
    height: calc(16px + 16px * 2);
}