

<!-- 
<div class="_1KsBwR _2gmlmp" >
    <div class="CGZ7ch _2gmlmp">
        <ul class="xjjMfJ _2gmlmp" data-qa="navtabs">
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8 QHlKb7" [routerLink]="['/inventory/products ']" routerLinkActive="router-link-active" 
                    data-qa="navtabs-item-products">Products</a></li>
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" [routerLink]="['/inventory/orders']" routerLinkActive="router-link-active" 
                    data-qa="navtabs-item-orders">Orders</a></li>
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8"  [routerLink]="['/inventory/brands']" routerLinkActive="router-link-active" 
                    data-qa="navtabs-item-brands">Brands</a></li>
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8"  [routerLink]="['/inventory/categories']" routerLinkActive="router-link-active" 
                    data-qa="navtabs-item-categories">Categories</a></li>
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" [routerLink]="['/inventory/suppliers']" routerLinkActive="router-link-active" 
                    data-qa="navtabs-item-suppliers">Suppliers</a></li>
        </ul>
    </div>
</div> -->

<router-outlet></router-outlet>
