._2k68E6._260Y5f {
    background-color: #f7f7f8;
    overflow-y: auto;
    height: 90vh;
}
.checkbox input[type="checkbox"]:checked + label:after {
    font-family: "FontAwesome" !important;
    content: "\F00C";
    color: #fff;
  }

