<div class="CGZ7ch _2gmlmp">
    <ul class="xjjMfJ _2gmlmp" data-qa="navtabs">
        <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8 QHlKb7" (click)="funo()"
                data-qa="navtabs-item-messages-log">Messages Log</a></li>
        <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" (click)="funcl()"
                data-qa="navtabs-item-settings">Settings</a></li>
    </ul>
</div>



<div class="_2k68E6" data-qa="scrollable-content" style="display: flex; flex-direction: column;" *ngIf="show">
    <div class="_297iDr _2BxTkW">
        <div class="xveDbv">
            <div class="Wy7Er4">
                <div class="_2L0SCf" data-qa="placeholder-container">
                    <div class="_35ChFg"><span class="_3Q2N2k _30vxLD _3v1cJZ ftFjVi" data-qa="placeholder-icon"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 53">
                                <path
                                    d="M63.734 3.25H8.202c-2.702 0-4.92 2.219-4.92 4.92v37.02c0 2.706 2.216 4.921 4.92 4.921h55.532c2.704 0 4.92-2.215 4.92-4.92V8.17c0-2.702-2.218-4.921-4.92-4.921zm0-2.5c4.083 0 7.42 3.338 7.42 7.42v37.02c0 4.087-3.335 7.421-7.42 7.421H8.202c-4.084 0-7.42-3.334-7.42-7.42V8.17C.782 4.087 4.12.75 8.202.75h55.532z">
                                </path>
                                <path
                                    d="M35.967 28.159L66.858 3.19a1.25 1.25 0 0 1 1.572 1.944L36.753 30.738a1.25 1.25 0 0 1-1.572 0L3.506 5.135a1.25 1.25 0 1 1 1.572-1.944l30.889 24.968z">
                                </path>
                            </svg></span>
                        <h3 class="_9t1fKU _2IXhvS _18TSrK" data-qa="placeholder-header">No Recent Messages</h3>
                    </div>
                    <div class="_2AAL0z">
                        <div>Fresha will send automated customer notifications, reminders, confirmations and much more.
                            Make the most of this feature by saving customer contact details in Fresha and give it a
                            try!</div><br>
                        <div>You can manage these features on the <a class="_2nu1E8 _13c7RA "
                                href="/notifications/settings"><span class="_9t1fKU _3CorbI">Client
                                    Notifications</span></a> settings page.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_9WJ7l1" data-qa="loader-spinner-container">
            <div class="_1Xf8dA _1kSyd-" data-qa="loader-spinner"></div>
        </div>
    </div>
</div>


<!--setting section-->
<div class="_2k68E6 _260Y5f" data-qa="scrollable-content" style="display: flex; flex-direction: column;" *ngIf="!show">
    <div class="_297iDr _2BxTkW">
        <div class="xveDbv">
            <div class="_40Cdqw _1ElFrW" style="display: flex; flex-direction: column; flex-shrink: 0;">
                <div class="_2ASBRy">
                    <div class="f5Ej5N">
                        <div class="_1OXiiU">
                            <div class="_2GjCSp" data-qa="channels-box"><i class="_65BNEq"><svg viewBox="0 0 184 149"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <defs>
                                            <path
                                                d="M0 36.615L39.524 8.093 81.21 36.615v46.349a4.754 4.754 0 0 1-4.754 4.754H4.754A4.754 4.754 0 0 1 0 82.964V36.615z"
                                                id="email-sms-blue-path-1"></path>
                                            <rect id="email-sms-blue-path-3" x="3.583" width="74.044" height="77.248"
                                                rx="4.754"></rect>
                                            <filter x="-65.5%" y="-57.6%" width="231%" height="225.6%"
                                                filterUnits="objectBoundingBox"
                                                id="email-sms-blue-email-sms-blue-filter-4">
                                                <feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter1">
                                                </feOffset>
                                                <feGaussianBlur stdDeviation="15.5" in="shadowOffsetOuter1"
                                                    result="shadowBlurOuter1"></feGaussianBlur>
                                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
                                                    in="shadowBlurOuter1"></feColorMatrix>
                                            </filter>
                                            <path
                                                d="M0 0h41.164c8.46 0 15.317 6.858 15.317 15.317 0 8.46-6.857 15.317-15.317 15.317H15.317C6.857 30.634 0 23.776 0 15.317V0z"
                                                id="email-sms-blue-path-5"></path>
                                            <filter x="-85.9%" y="-145.3%" width="271.7%" height="416.6%"
                                                filterUnits="objectBoundingBox" id="email-sms-blue-filter-6">
                                                <feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter1">
                                                </feOffset>
                                                <feGaussianBlur stdDeviation="15.5" in="shadowOffsetOuter1"
                                                    result="shadowBlurOuter1"></feGaussianBlur>
                                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
                                                    in="shadowBlurOuter1"></feColorMatrix>
                                            </filter>
                                            <path
                                                d="M0 0h41.164c8.46 0 15.317 6.858 15.317 15.317 0 8.46-6.857 15.317-15.317 15.317H15.317C6.857 30.634 0 23.776 0 15.317V0z"
                                                id="email-sms-blue-path-7"></path>
                                            <filter x="-92.1%" y="-153.4%" width="284.1%" height="439.5%"
                                                filterUnits="objectBoundingBox" id="filter-8">
                                                <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1">
                                                </feOffset>
                                                <feGaussianBlur stdDeviation="16.5" in="shadowOffsetOuter1"
                                                    result="shadowBlurOuter1"></feGaussianBlur>
                                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
                                                    in="shadowBlurOuter1"></feColorMatrix>
                                            </filter>
                                        </defs>
                                        <g fill="none" fill-rule="evenodd">
                                            <g transform="translate(51.218 27.978)">
                                                <use fill="#4EB7F5" xlink:href="#email-sms-blue-path-1"></use>
                                                <use fill="#000" filter="url(#email-sms-blue-filter-4)"
                                                    xlink:href="#email-sms-blue-path-3"></use>
                                                <use fill="#FFF" xlink:href="#email-sms-blue-path-3"></use>
                                                <rect fill="#101928" opacity=".1" x="13.137" y="27.108" width="54.936"
                                                    height="4.754" rx="2.377"></rect>
                                                <rect fill="#101928" opacity=".1" x="13.137" y="9.281" width="16.72"
                                                    height="13.073" rx="4.754"></rect>
                                                <rect fill="#101928" opacity=".1" x="13.137" y="36.615" width="35.828"
                                                    height="4.754" rx="2.377"></rect>
                                                <rect fill="#101928" opacity=".1" x="13.137" y="46.122" width="9.554"
                                                    height="4.754" rx="2.377"></rect>
                                                <rect fill="#101928" opacity=".1" x="34.633" y="46.122" width="9.554"
                                                    height="4.754" rx="2.377"></rect>
                                                <rect fill="#101928" opacity=".1" x="56.13" y="46.122" width="9.554"
                                                    height="4.754" rx="2.377"></rect>
                                                <path fill="#B5E0F3"
                                                    d="M81.21 36.615L45.382 62.166 81.21 87.718zM0 36.615l35.828 25.551L0 87.718z">
                                                </path>
                                                <path fill="#4EB7F5" d="M0 87.718h81.21L40.605 58.007z"></path>
                                            </g>
                                            <g transform="matrix(-1 0 0 1 92.672 100.132)">
                                                <use fill="#000" filter="url(#email-sms-blue-filter-6)"
                                                    xlink:href="#email-sms-blue-path-5"></use>
                                                <use fill="#FFF" xlink:href="#email-sms-blue-path-5"></use>
                                                <rect fill="#101928" opacity=".1" x="8.616" y="9.573" width="37.335"
                                                    height="4.787" rx="2.393"></rect>
                                                <rect fill="#101928" opacity=".1" x="24.179" y="17.232" width="22.018"
                                                    height="4.787" rx="2.393"></rect>
                                            </g>
                                            <g transform="translate(92.672 11)">
                                                <use fill="#000" filter="url(#email-sms-blue-filter-8)"
                                                    xlink:href="#email-sms-blue-path-7"></use>
                                                <use fill="#4EB7F5" xlink:href="#email-sms-blue-path-7"></use>
                                                <rect fill="#FFF" x="8.616" y="9.573" width="37.335" height="4.787"
                                                    rx="2.393"></rect>
                                                <rect fill="#FFF" x="8.616" y="17.232" width="22.018" height="4.787"
                                                    rx="2.393"></rect>
                                            </g>
                                        </g>
                                    </svg></i>
                                <div class="_9t1fKU wiy4G4 _1NUyXd _3dZPgL" data-qa="channels-box-title">Email and text
                                    notifications enabled</div>
                                <div class="_9t1fKU _2G32AU _31x0i-" data-qa="channels-box-description">Your
                                    notifications are currently sent by email and basic text only</div>
                            </div>
                            <div class="_347mUk" data-qa="upgrade-box">
                                <div class="_9t1fKU _3Sjcsw _3dZPgL" data-qa="upgrade-box-title">Reach more clients with

                                    Fresha <span class="_9t1fKU _2G32AU _1GniIL">Plus</span></div>
                                <div class="_35VpMV">
                                    <div class="_9t1fKU wiy4G4 _1Z_NT-" data-qa="upgrade-box-description">Your
                                        notifications currently send by email and basic text, you can reach more clients
                                        by</div>
                                    <div class="_1jmLHa" data-qa="upgrade-box-option"><span
                                            class="_3Q2N2k _30vxLD _3fclB_ _3dgNZY _2RMN2A"><svg viewBox="0 0 10 8"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.732.273c-.358-.364-.937-.364-1.295 0L2.99 5.808 1.543 4.544c-.352-.36-.924-.36-1.277 0-.353.358-.353.94 0 1.298l2.163 1.89c.35.358.922.358 1.275 0 .035-.037.065-.077.093-.117l.015-.013L9.73 1.588c.358-.363.358-.952 0-1.315z">
                                                </path>
                                            </svg></span>
                                        <div class="_9t1fKU wiy4G4 _1Z_NT-">App push notifications</div>
                                    </div>
                                </div><button class="_3Rt3VQ _2nu1E8 _1O2-GF _2P5TQK" data-qa="fresha-upgrade">Start
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="_1e2INh _2S8aVO" style="flex-shrink: 0; flex-grow: 0;">
                        <div class="_3okWM7">
                            <div class="_1IWF_G">
                                <div class="plgrKj"
                                    style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div class="_9t1fKU wiy4G4 _3a2d4C">Notification messages</div><button
                                        class="_3ySuQR _2ymbP7 _30O8Wv _2nu1E8 _1jiWG4 _2P5TQK _1qADt0">
                                        <div class="_10jmov">
                                            <div><span class="_3Q2N2k _30vxLD _3v1cJZ XuZows"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 6">
                                                        <circle cx="3" cy="3" r="3"></circle>
                                                        <circle cx="11" cy="3" r="3"></circle>
                                                        <circle cx="19" cy="3" r="3"></circle>
                                                    </svg></span></div>
                                        </div>
                                    </button>
                                </div>
                                <div class="_9t1fKU _62dXJY _3vz9rQ">Add extra information to your message templates and
                                    customize the advance timeframe for reminders, <a class="_2nu1E8 _13c7RA  _2wuT_9"
                                        href="https://support.shedul.com/hc/en-us/articles/360008607419"
                                        target="_blank">learn more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="_3b8aY4">
                        <div style="display: flex; flex-direction: column;"><a class="_2nu1E8 _1OSMId _1hFj97"
                                href="/notifications/settings/triggers/new-appointment"
                                data-qa="tile-button-new-appointment"><span class="_3Q2N2k _30vxLD _3gU_Sq kw5awv"
                                    style="flex-shrink: 0;"><svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle fill="#EBF7FE" cx="24" cy="24" r="24"></circle>
                                            <path fill="#FFDE78" d="M14.22 14.22H24v20.77h-9.78z"></path>
                                            <path stroke="#101928" stroke-width="1.78" stroke-linecap="round"
                                                stroke-linejoin="round" d="M18.22 23.92l6.02 5.41 7.32-12.44"></path>
                                        </g>
                                    </svg></span>
                                <div class="_1UBsm5">
                                    <div class="vywsT9" style="flex-grow: 1; align-items: center;">
                                        <div type="row-button-primary" class="_1w1H6z"
                                            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                            New appointment</div>
                                        <div class="_2-Zz_A">Automatically sends to clients when an appointment is
                                            booked for them</div>
                                    </div><span class="_3SwoHv _2YL61T _2cOoP-">Enabled</span>
                                </div>
                            </a><a class="_2nu1E8 _1OSMId _1hFj97"
                                href="/notifications/settings/triggers/appointment-reminder"
                                data-qa="tile-button-appointment-reminder"><span class="_3Q2N2k _30vxLD _3gU_Sq kw5awv"
                                    style="flex-shrink: 0;"><svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle fill="#EBF7FE" cx="24" cy="24" r="24"></circle>
                                            <path
                                                d="M13.34 22.05v-.26c0-5.65 4.72-10.23 10.55-10.23 5.83 0 10.56 4.58 10.56 10.23v.26H13.33z"
                                                fill="#FFDE78"></path>
                                            <g stroke="#24334A" stroke-width="1.33">
                                                <path d="M21.59 32.89a2.25 2.25 0 0 0 4.5 0"></path>
                                                <path
                                                    d="M30.6 25.42v-4.48a6.8 6.8 0 0 0-6.76-6.71 6.8 6.8 0 0 0-6.75 6.71v4.48c0 3.8-3 7.47-3 7.47h19.5s-3-3.66-3-7.47z"
                                                    stroke-linecap="square"></path>
                                            </g>
                                        </g>
                                    </svg></span>
                                <div class="_1UBsm5">
                                    <div class="vywsT9" style="flex-grow: 1; align-items: center;">
                                        <div type="row-button-primary" class="_1w1H6z"
                                            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                            Upcoming appointment reminder</div>
                                        <div class="_2-Zz_A">Automatically sends to clients 24 hours ahead of their
                                            appointment</div>
                                    </div><span class="_3SwoHv _2YL61T _2cOoP-">Enabled</span>
                                </div>
                            </a><a class="_2nu1E8 _1OSMId _1hFj97"
                                href="/notifications/settings/triggers/appointment-rescheduled"
                                data-qa="tile-button-appointment-rescheduled"><span
                                    class="_3Q2N2k _30vxLD _3gU_Sq kw5awv" style="flex-shrink: 0;"><svg
                                        viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle fill="#EBF7FE" cx="24" cy="24" r="24"></circle>
                                            <circle fill="#FFDE78" cx="17.33" cy="29.78" r="7.56"></circle>
                                            <g stroke="#101928" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.33">
                                                <path
                                                    d="M14.67 23.56c0-4.9 4-8.9 8.89-8.9a8.74 8.74 0 0 1 7.9 4.9M32.44 23.56c0 4.88-4 8.88-8.88 8.88a8.74 8.74 0 0 1-7.92-4.88">
                                                </path>
                                                <path d="M32.27 14.4l-.71 5.24-5.34-.7M14.84 32.71l.72-5.24 5.33.7">
                                                </path>
                                            </g>
                                        </g>
                                    </svg></span>
                                <div class="_1UBsm5">
                                    <div class="vywsT9" style="flex-grow: 1; align-items: center;">
                                        <div type="row-button-primary" class="_1w1H6z"
                                            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                            Rescheduled appointment</div>
                                        <div class="_2-Zz_A">Automatically sends to clients when their appointment start
                                            time is changed</div>
                                    </div><span class="_3SwoHv _2YL61T _2cOoP-">Enabled</span>
                                </div>
                            </a><a class="_2nu1E8 _1OSMId _1hFj97"
                                href="/notifications/settings/triggers/appointment-thank-you"
                                data-qa="tile-button-appointment-thank-you"><span class="_3Q2N2k _30vxLD _3gU_Sq kw5awv"
                                    style="flex-shrink: 0;"><svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle fill="#EBF7FE" cx="24" cy="24" r="24"></circle>
                                            <path fill="#FFDE78" d="M11.14 10.29h13.1v26.89h-13.1z"></path>
                                            <path stroke="#101928" stroke-width="1.29" stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M24 29.57l-6.55 3.44 1.25-7.29-5.3-5.16 7.33-1.07L24 12.86l3.27 6.63 7.33 1.07-5.3 5.16 1.25 7.3z">
                                            </path>
                                        </g>
                                    </svg></span>
                                <div class="_1UBsm5">
                                    <div class="vywsT9" style="flex-grow: 1; align-items: center;">
                                        <div type="row-button-primary" class="_1w1H6z"
                                            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                            Thank you for visiting</div>
                                        <div class="_2-Zz_A">Automatically sends to clients when their appointment is
                                            checked out</div>
                                    </div><span class="_3SwoHv _2YL61T _2cOoP-">Enabled</span>
                                </div>
                            </a><a class="_2nu1E8 _1OSMId _1hFj97"
                                href="/notifications/settings/triggers/appointment-cancelled"
                                data-qa="tile-button-appointment-cancelled"><span class="_3Q2N2k _30vxLD _3gU_Sq kw5awv"
                                    style="flex-shrink: 0;"><svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle fill="#EBF7FE" cx="24" cy="24" r="24"></circle>
                                            <g transform="translate(10.67 10.67)">
                                                <path
                                                    d="M0 12.44v-.3C0 5.43 5.97 0 13.33 0c7.37 0 13.34 5.43 13.34 12.13v.31H0z"
                                                    fill="#FFDE78"></path>
                                                <circle stroke="#101928" stroke-width="1.33" cx="13.33" cy="13.33"
                                                    r="10"></circle>
                                                <path d="M16.89 9.78l-7.11 7.1M9.78 9.78l7.1 7.1" stroke="#101928"
                                                    stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                            </g>
                                        </g>
                                    </svg></span>
                                <div class="_1UBsm5">
                                    <div class="vywsT9" style="flex-grow: 1; align-items: center;">
                                        <div type="row-button-primary" class="_1w1H6z"
                                            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                            Cancelled appointment</div>
                                        <div class="_2-Zz_A">Automatically sends to clients when their appointment is
                                            cancelled</div>
                                    </div><span class="_3SwoHv _2YL61T _2cOoP-">Enabled</span>
                                </div>
                            </a><a class="_2nu1E8 _1OSMId _1hFj97"
                                href="/notifications/settings/triggers/appointment-no-show"
                                data-qa="tile-button-appointment-no-show"><span class="_3Q2N2k _30vxLD _3gU_Sq kw5awv"
                                    style="flex-shrink: 0;"><svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle fill="#EBF7FE" cx="24" cy="24" r="24"></circle>
                                            <g transform="translate(16 12.44)">
                                                <path
                                                    d="M8.22 10.27c-2.2 0-4-1.84-4-4.11V4.11c0-2.27 1.8-4.11 4-4.11 2.21 0 4 1.84 4 4.1v2.06c0 2.27-1.79 4.1-4 4.1z"
                                                    stroke="#101928" stroke-width="1.33" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <circle fill="#FFDE78" cx="15.11" cy="17.78" r="8"></circle>
                                                <path
                                                    d="M8.16 21.33H.22v-4.22c0-1.28.77-2.43 1.93-2.88a16.77 16.77 0 0 1 6.07-1.11M18.06 14.37L11.7 20.9M11.7 14.37l6.36 6.53"
                                                    stroke="#101928" stroke-width="1.33" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </g>
                                        </g>
                                    </svg></span>
                                <div class="_1UBsm5">
                                    <div class="vywsT9" style="flex-grow: 1; align-items: center;">
                                        <div type="row-button-primary" class="_1w1H6z"
                                            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                            Did not show up</div>
                                        <div class="_2-Zz_A">Automatically sends to clients when their appointment is
                                            marked as no show</div>
                                    </div><span class="_3SwoHv _2YL61T _2cOoP-">Enabled</span>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_9WJ7l1" data-qa="loader-spinner-container">
            <div class="_1Xf8dA _1kSyd-" data-qa="loader-spinner"></div>
        </div>
    </div>
</div>

