._1IO1sh ._2lB2nR {
    margin-right: 16px;
    height: 48px;
}
._2IE3Ux ._9rGivM {
    min-width: 180px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding:0px !important; 
}
.dd {
    
    border-top: 0px solid transparent !important;
    margin-top: -8px;
    height: 47px;
    border-bottom: 0px;

}
// ._2k68E6._260Y5f {
//     background-color: #f7f7f8;
//     height:90vh;
// }
// ._2k68E6._260Y5f {
//     background-color: #f7f7f8;
//     height:90vh;
// }
