<div class="_2k68E6 _260Y5f" data-qa="scrollable-content" style="display: flex; flex-direction: column;">
    <div class="_40Cdqw _2GGotC" style="display: flex; flex-direction: column; flex-shrink: 0; flex-grow: 1;">
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <div class="W-6apQ">
                <div class="t6USZF"><a class="_2qhTFB _2nu1E8 _13c7RA " [routerLink]="['/setup']"><span
                            class="_3Q2N2k _30vxLD _3s37z7 _2zhJTq _3N7UZQ"><svg viewBox="0 0 18 18"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.80367158,16.7638261 C9.06544281,17.0467987 9.06544281,17.5049548 8.80367158,17.7879275 C8.54229164,18.0704815 8.11774488,18.0709001 7.85597365,17.7879275 L0.196328421,9.51223382 C-0.0654428068,9.22926119 -0.0654428068,8.77068646 0.196328421,8.48771383 L7.85577801,0.212229473 C8.11754924,-0.0707431577 8.54170471,-0.0707431577 8.80347594,0.212229473 C9.06524716,0.495202104 9.06524716,0.953567534 8.80406287,1.23633087 L1.81841007,9.00007847 L8.80367158,16.7638261 Z">
                                </path>
                            </svg></span>Back to Setup</a></div>
                <div class="_9t1fKU dcmmPd zLWpM8">Locations</div>
                <div class="_9t1fKU _62dXJY">Manage multiple outlets for your business</div>
            </div><button class="_2nu1E8 _1O2-GF _2P5TQK" data-qa="floating-menu-button" data-toggle="modal"
                data-target="#exampleModal" (click)="func()">New location</button>

        </div>
        <div data-react-beautiful-dnd-droppable="0">
            <div class="_1bfv7K">
                <div class="_1a2uCG" data-react-beautiful-dnd-draggable="0" tabindex="0"
                    data-react-beautiful-dnd-drag-handle="0"
                    aria-roledescription="Draggable item. Press space bar to lift" draggable="false"
                    data-qa="draggable-location-0">
                    <div class="_1QDRC6 _3uHQdZ _9SXS0C _2nu1E8" suffixclassname="gKBfNX"
                        data-qa="list-item-row-button-a"
                        style="display: flex; flex-direction: row; flex-grow: 1; align-items: center;">
                        <div class="wPHQml"
                            style="display: flex; flex-direction: row; flex-grow: 1; align-items: center;">
                            <div class="_1uOfGb" data-qa="row-button-image" style="align-self: flex-start;">
                                <div style="display: flex; flex-direction: row; align-items: center;"><span
                                        class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY" style="margin-right: 20px;"><svg
                                            viewBox="0 0 16 10" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M1 0h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2z">
                                            </path>
                                        </svg></span>
                                    <div class="_37OY2T" data-qa="avatar-border-color">
                                        <div class="_1YSdYi _2iwjnI nrU-sM t6n_ik" data-qa="avatar"><span
                                                class="_3Q2N2k _30vxLD _3v1cJZ _3gU_Sq"><svg viewBox="0 0 25 23"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M9.75 20.75V15.5a.75.75 0 0 1 .75-.75h4a.75.75 0 0 1 .75.75v5.25h4.5V12.5a.75.75 0 1 1 1.5 0v9a.75.75 0 0 1-.75.75h-16a.75.75 0 0 1-.75-.75v-9a.75.75 0 1 1 1.5 0v8.25h4.5zm1.5 0h2.5v-4.5h-2.5v4.5zm-1.416-10.5a3.727 3.727 0 0 1-2.669-1.124A3.743 3.743 0 0 1 .75 6.498a.75.75 0 0 1 .107-.384l3-5A.75.75 0 0 1 4.5.75h16a.75.75 0 0 1 .643.364l3 5a.75.75 0 0 1 .107.384 3.742 3.742 0 0 1-6.415 2.628 3.727 3.727 0 0 1-5.335.001 3.727 3.727 0 0 1-2.666 1.123zm-4.91-8L2.259 6.695a2.242 2.242 0 0 0 4.238.816.75.75 0 0 1 1.343.003 2.227 2.227 0 0 0 3.99 0 .75.75 0 0 1 1.343 0 2.227 2.227 0 0 0 3.99 0 .75.75 0 0 1 1.342-.003 2.242 2.242 0 0 0 4.238-.816L20.075 2.25H4.925z">
                                                    </path>
                                                </svg></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="_45ZmlC" style="display: flex; flex-direction: column; flex-grow: 1;" (click)="do()">
                                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <div class="_9t1fKU wiy4G4 _2EdZEl" data-qa="location-name">A</div>
                                    <div class="_9t1fKU wiy4G4 _3Nqrz3" data-qa="location-address">tttt, ttt, Mumbai,
                                        Maharashtra, 400067</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_1a2uCG" data-react-beautiful-dnd-draggable="0" tabindex="0"
                    data-react-beautiful-dnd-drag-handle="0"
                    aria-roledescription="Draggable item. Press space bar to lift" draggable="false"
                    data-qa="draggable-location-1">
                    <div class="_1QDRC6 _3uHQdZ _9SXS0C _2nu1E8" suffixclassname="gKBfNX"
                        data-qa="list-item-row-button-arihant"
                        style="display: flex; flex-direction: row; flex-grow: 1; align-items: center;">
                        <div class="wPHQml"
                            style="display: flex; flex-direction: row; flex-grow: 1; align-items: center;">
                            <div class="_1uOfGb" data-qa="row-button-image" style="align-self: flex-start;">
                                <div style="display: flex; flex-direction: row; align-items: center;"><span
                                        class="_3Q2N2k _30vxLD _3s37z7 _3dgNZY" style="margin-right: 20px;"><svg
                                            viewBox="0 0 16 10" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M1 0h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2z">
                                            </path>
                                        </svg></span>
                                    <div class="_37OY2T" data-qa="avatar-border-color">
                                        <div class="_1YSdYi _2iwjnI nrU-sM t6n_ik" data-qa="avatar"><span
                                                class="_3Q2N2k _30vxLD _3v1cJZ _3gU_Sq"><svg viewBox="0 0 25 23"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M9.75 20.75V15.5a.75.75 0 0 1 .75-.75h4a.75.75 0 0 1 .75.75v5.25h4.5V12.5a.75.75 0 1 1 1.5 0v9a.75.75 0 0 1-.75.75h-16a.75.75 0 0 1-.75-.75v-9a.75.75 0 1 1 1.5 0v8.25h4.5zm1.5 0h2.5v-4.5h-2.5v4.5zm-1.416-10.5a3.727 3.727 0 0 1-2.669-1.124A3.743 3.743 0 0 1 .75 6.498a.75.75 0 0 1 .107-.384l3-5A.75.75 0 0 1 4.5.75h16a.75.75 0 0 1 .643.364l3 5a.75.75 0 0 1 .107.384 3.742 3.742 0 0 1-6.415 2.628 3.727 3.727 0 0 1-5.335.001 3.727 3.727 0 0 1-2.666 1.123zm-4.91-8L2.259 6.695a2.242 2.242 0 0 0 4.238.816.75.75 0 0 1 1.343.003 2.227 2.227 0 0 0 3.99 0 .75.75 0 0 1 1.343 0 2.227 2.227 0 0 0 3.99 0 .75.75 0 0 1 1.342-.003 2.242 2.242 0 0 0 4.238-.816L20.075 2.25H4.925z">
                                                    </path>
                                                </svg></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="_45ZmlC" style="display: flex; flex-direction: column; flex-grow: 1;">
                                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <div class="_9t1fKU wiy4G4 _2EdZEl" data-qa="location-name">Arihant</div>
                                    <div class="_9t1fKU wiy4G4 _3Nqrz3" data-qa="location-address">Default Address,
                                        Default City</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="_3vtwrU _3XtDVr _2H1Euj sdf" *ngIf="sh">
    <div class="_2vCLkQ" style="display: flex; flex-direction: column; flex-shrink: 1; flex-grow: 1;">
        <header class="PkFIdA _33T8Oc" data-qa="modal-header">
            <div class="izfMlp _1HQM0r">
                <h2 class="_9t1fKU _3XK9dh _2AVm3L _3bMN68 _1T_y7I _1j68JW">New Location</h2>
                <div role="button" class="_2y31id _2PFOGx _3pAZyb _3d4M2L _2nu1E8" data-qa="header-close-button"
                    (click)="func()">
                    <div class="_10jmov">
                        <div><span class="_3Q2N2k _30vxLD _3s37z7 _3gU_Sq XuZows"><svg viewBox="0 0 18 18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17 1.914L16.086 1 9 8.086 1.914 1 1 1.914 8.086 9 1 16.086l.914.914L9 9.914 16.086 17l.914-.914L9.914 9z">
                                    </path>
                                </svg></span></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="_1AL6HX" data-qa="modal-content" style="display: flex; flex-direction: column;">
            <div class="xPg8Rs" style="display: flex; flex-direction: column; flex-shrink: 0; flex-grow: 1;">
                <form novalidate="" data-qa="form-location-profile-edit">
                    <div><label class="B4ufiE _3J2MMS A7zEIf" style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="name" autocomplete="off" value=""></div><span class="_9t1fKU _14bPpn _3jwCpY"
                                data-qa="label-name">Location name</span>
                        </label><label class="B4ufiE _3J2MMS A7zEIf"
                            style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="phone" autocomplete="off" value=""></div><span class="_9t1fKU _14bPpn _3jwCpY"
                                data-qa="label-name">Contact number</span>
                        </label><label class="B4ufiE _3J2MMS" style="display: flex; flex-direction: column-reverse;">
                            <div class="_9t1fKU _2IkPd8 _3f9x22" data-qa="input-hint">Replies to client appointment
                                notifications will go to this email.</div>
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="email" autocomplete="off" value="mesanketshah@gmail.com"></div><span
                                class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Contact email</span>
                        </label><label><label class="B4ufiE _3J2MMS PZzBXz A7zEIf"
                                style="display: flex; flex-direction: column-reverse;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="address" autocomplete="geo-input" value=""></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Street address</span>
                            </label></label><label class="B4ufiE _3J2MMS A7zEIf"
                            style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="addressDetails" autocomplete="off" value=""></div><span
                                class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Apt, Suite, Bldg. (optional)</span>
                        </label><label class="B4ufiE _3J2MMS A7zEIf"
                            style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="city" autocomplete="off" value=""></div><span class="_9t1fKU _14bPpn _3jwCpY"
                                data-qa="label-name">City</span>
                        </label>
                        <div style="display: flex; flex-flow: row wrap;"><label class="B4ufiE _3J2MMS A7zEIf"
                                style="display: flex; flex-direction: column-reverse;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="state" autocomplete="off" value=""></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">State</span>
                            </label><label class="B4ufiE _3J2MMS A7zEIf"
                                style="display: flex; flex-direction: column-reverse;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="zipCode" autocomplete="off" value=""></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Zip Code</span>
                            </label></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="">
            <div class="_1sJ5gi _1G31AL"><button class="_2nu1E8 _1O2-GF _2P5TQK" data-qa="location-save"
                    style="align-self: stretch;">Save</button></div>
        </div>
    </div>
</div>

<!--modal-->
<div class="_3vtwrU _3XtDVr _2H1Euj sdf" *ngIf="done">
    <div class="_2vCLkQ" style="display: flex; flex-direction: column; flex-shrink: 1; flex-grow: 1;">
        <header class="PkFIdA _33T8Oc" data-qa="modal-header">
            <div class="izfMlp _1HQM0r">
                <h2 class="_9t1fKU _3XK9dh _2AVm3L _3bMN68 _1T_y7I _1j68JW">Edit Location</h2>
                <div role="button" class="_2y31id _2PFOGx _3pAZyb _3d4M2L _2nu1E8" data-qa="header-close-button">
                    <div class="_10jmov">
                        <div><span class="_3Q2N2k _30vxLD _3s37z7 _3gU_Sq XuZows" (click)="do()"><svg viewBox="0 0 18 18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17 1.914L16.086 1 9 8.086 1.914 1 1 1.914 8.086 9 1 16.086l.914.914L9 9.914 16.086 17l.914-.914L9.914 9z">
                                    </path>
                                </svg></span></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="_1AL6HX" data-qa="modal-content" style="display: flex; flex-direction: column;">
            <div class="xPg8Rs" style="display: flex; flex-direction: column; flex-shrink: 0; flex-grow: 1;">
                <form novalidate="" data-qa="form-location-profile-edit">
                    <div><label class="B4ufiE _3J2MMS" style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="name" autocomplete="off" value="A"></div><span class="_9t1fKU _14bPpn _3jwCpY"
                                data-qa="label-name">Location name</span>
                        </label><label class="B4ufiE _3J2MMS" style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="phone" autocomplete="off" value="111111"></div><span
                                class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Contact number</span>
                        </label><label class="B4ufiE _3J2MMS" style="display: flex; flex-direction: column-reverse;">
                            <div class="_9t1fKU _2IkPd8 _3f9x22" data-qa="input-hint">Replies to client appointment
                                notifications will go to this email.</div>
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="email" autocomplete="off" value="testttttt@gmail.com"></div><span
                                class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Contact email</span>
                        </label><label><label class="B4ufiE _3J2MMS PZzBXz"
                                style="display: flex; flex-direction: column-reverse;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="address" autocomplete="geo-input" value="tttt"></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Street address</span>
                            </label></label><label class="B4ufiE _3J2MMS"
                            style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="addressDetails" autocomplete="off" value="ttt"></div><span
                                class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Apt, Suite, Bldg. (optional)</span>
                        </label><label class="B4ufiE _3J2MMS" style="display: flex; flex-direction: column-reverse;">
                            <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                    name="city" autocomplete="off" value="Mumbai"></div><span
                                class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">City</span>
                        </label>
                        <div style="display: flex; flex-flow: row wrap;"><label class="B4ufiE _3J2MMS"
                                style="display: flex; flex-direction: column-reverse;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="state" autocomplete="off" value="Maharashtra"></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">State</span>
                            </label><label class="B4ufiE _3J2MMS"
                                style="display: flex; flex-direction: column-reverse;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;"><input class="_3RKzT9"
                                        name="zipCode" autocomplete="off" value="400067"></div><span
                                    class="_9t1fKU _14bPpn _3jwCpY" data-qa="label-name">Zip Code</span>
                            </label></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="">
            <div class="_1sJ5gi _1G31AL"><button class="_2nu1E8 _1O2-GF _2P5TQK" data-qa="location-save"
                    style="align-self: stretch;">Save</button></div>
        </div>
    </div>
</div>