.flecs1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    
    
}

table {
    width: 100%;
  }

  .mat-elevation-z8{
      margin-top: 40px;
      box-shadow: none;
  }

  