<section>
    <div class="container-fluid">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2  col-sm-12 ">
            <div style="text-align:center;">
                <h2 CLASS="head"><span class="space">CONTROL<i class="fa fa-heart-o"></i>OUTLET</span></h2>
                <p class="head1">Control Outlet is proudly created by the folks at Shedul</p>
            </div>
            <div class="card aa2" *ngIf="next">
                <div class="card-header" >
                   <h1 class="head"> Reset Your Password</h1>
                   <p class="head1" >Enter your registered login email address to receive a secure link to set a new password</p>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1" >Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>        
                </div>
                <div class="card-footer">
                    <button class="btn btn-block gun"  (click)="nextse()">SEND MAIL</button>
                </div>
            </div>
    
            <div class="card" *ngIf="!next">
                <div class="card-header" >
                   <h1 class="head">Reset Your Password</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="exampleInputEmail1" >Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputEmail1" >OTP</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter OTP">
                    </div>
    
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" >Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" >Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm  Password">
                    </div>
                   
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-block gun" >CONTINUE</button>
                        
                    </div>
                </div>
            </div>
    
         </div>
    </div>
    
    </section>