<div class="_1KsBwR _2gmlmp">
    <div class="CGZ7ch _2gmlmp">
        <ul class="xjjMfJ _2gmlmp" data-qa="navtabs">
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" routerLink="/staff" 
                routerLinkActive="active"    data-qa="navtabs-item-staff-members"> List </a></li>
            <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" routerLink="hours"
                routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"   data-qa="navtabs-item-staff-working-hours"> Working Hours </a></li>
             <!-- <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" routerLink="closed-dates" 
                 routerLinkActive="active"     data-qa="navtabs-item-closed-dates">Closed Dates</a></li> -->
             <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" routerLink="permissions" 
                 routerLinkActive="QHlKb7"   data-qa="navtabs-item-user-permissions"> User Permissions </a></li>
            <!-- <li class="_3lMm2_" data-qa="navtabs-item"><a class="_1skZFe _2nu1E8" routerLink="Attendance" 
                    routerLinkActive="QHlKb7"   data-qa="navtabs-item-user-permissions"> Attendance Form </a></li> -->
        </ul>
    </div>
</div>
<router-outlet>  </router-outlet>