<div class="_3UBE5N _2tnXc9 _2y618q" data-qa="calendar-top-bar"
    style="transform: translate3d(0px, 0px, 0px); transition: -webkit-transform 375ms cubic-bezier(0, 0, 0.2, 1) 0ms;">
    Select a time to block
    <div role="button" class="_2y31id _1T-h6h _2nu1E8" data-qa="action-icon">
        <div class="_10jmov">
            <div>
                <span class="_3Q2N2k _30vxLD _2qbetB skx_qq XuZows">
                    <svg viewBox="0 0 18 18"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17 1.914L16.086 1 9 8.086 1.914 1 1 1.914 8.086 9 1 16.086l.914.914L9 9.914 16.086 17l.914-.914L9.914 9z">
                        </path>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</div>