<div class="_1KsBwR _2gmlmp">
    <div class="CGZ7ch _2gmlmp">
        <ul class="xjjMfJ _2gmlmp" data-qa="navtabs">
            <li class="_3lMm2_" data-qa="navtabs-item">
                <a class="_1skZFe " routerLink="/sales" routerLinkActive="QHlKb7"
                    data-qa="navtabs-item-daily-sales">Daily Sales
                </a>
            </li>
            <li class="_3lMm2_" data-qa="navtabs-item">
                <a class="_1skZFe " routerLink="appointments-list" routerLinkActive="QHlKb7"
                    data-qa="navtabs-item-appointments">Appointments
                </a>
            </li>
            <li class="_3lMm2_" data-qa="navtabs-item">
                <a class="_1skZFe " routerLink="sales-list" routerLinkActive="QHlKb7"
                    data-qa="navtabs-item-invoices">Invoices
                </a>
            </li>
            <li class="_3lMm2_" data-qa="navtabs-item">
                <a class="_1skZFe " routerLink="vouchers" routerLinkActive="QHlKb7"
                    data-qa="navtabs-item-vouchers">Vouchers
                </a>
            </li>
        </ul>
    </div>
</div>

<router-outlet>
</router-outlet>